<!doctype html>
<html lang="en">
   
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{'img/favicon.svg' | url }}" />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/font.css' | url }}">
    <link rel="stylesheet" href="{{ 'css/nav.css' | url }}">
    
  
    {% if css_include_home %}
      <link rel="stylesheet" href="{{ css_include_home | url }}" />
    {% endif %}
    {% if css_include_pro %}
      <link rel="stylesheet" href="{{ css_include_pro | url }}" />
    {% endif %}
     {% if css_include_cre %}
      <link rel="stylesheet" href="{{ css_include_cre | url }}" />
    {% endif %}


    
    
    
    <title>Sabine Conlin</title>
  </head>
  {% include "nav.njk" %}
    
  <body>

  <main class="">
    {{ content | safe }}
    </main>
    {% include "footer.njk" %}


  </body>

</html>