<!--footer-->

    <div class="footer">
        <a href="{{'/imprint/' | url}}"><p class="footer-links">imprint</p></a>
        <a href="{{'/ds/' | url}}"><p class="footer-links">privacy policy</p></a>
    </div>
