<!--navigation-->
   
<div class="fixnav">
   <div class="navbar" id="nav">
        <div class="nav-logo">
            <a href="{{'/' | url}}">SC UxD</a>
        </div>
        
        <div class="back-home">
            <a href="{{'/' | url}}">⌂ back home</a>
        </div>  

        <div class="navigation">
            <input type="checkbox" id="click">
            <label for="click">
                <div class="rahmen">
                    <div class="linie einsham"></div>
                    <div class="linie zweiham"></div>
                    <div class="linie dreiham"></div>
                </div>
            </label>

            <ul>
                <li><a href="{{'/#top' | url}}">home</a></li>
                <li><a href="{{'/#info' | url}}">about</a></li>
                <li><a href="{{'/#info' | url}}">contact</a></li>
            </ul>
        </div>
    </div>
</div>



