
/* placing items */

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.imprint {
  padding-top: 12em;
  width: 30%;
  /* background-color: coral;  */
}
.legal {
padding-top: 10em;
width: 50%;
/* background-color: coral; */
}
@media only screen and (max-width: 800px) {
.imprint {
  padding-top: 9em;
  width: 90%;
}
.legal {
  padding-top: 9em;
  width: 90%;
}
}


