/* desktop layout for project */
.container {
    display: grid;
    margin: 1em;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.8em;
    grid-template-areas: 
    "brief brief"
    "situation situation"
    "task task"
    "action action"
    "result result"
    "thx thx"
    "bnav bnav";
}
.brief {
    grid-area: brief;
    display: flex;
    justify-content: center;
    margin-top: 2em;
} 
.situation {
    grid-area: situation;
    display: flex;
    justify-content: center;
}
.task {
    grid-area: task;
    display: flex;
    justify-content: center;
}
.action {
    grid-area: action;
    display: flex;
    justify-content: center;
}
.result {
    grid-area: result;
    display: flex;
    justify-content: center;
}
.thx {
    grid-area: thx;
    display: flex;
    justify-content: center;
}
.bnav {
    grid-area: bnav;
    margin: 2em 0 2em 0;
}
/* details styling */
.outer { display: flex; flex-wrap: wrap; align-items: center; gap: 1.5em; }
.inner { flex-basis: 350px; }
.desc { max-width: 500px; text-align: right; }
.inner > img { max-width: 500px; }
.chapter { max-width: 75%; margin: 1em 0 1em 0; }
.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* mobile layout for project */
@media only screen and (max-width: 800px) {
    .container {
        margin: 0;
    }
    .brief {
        margin: 0 1em 2em 1em;
    }
    .outer {
        grid-gap: 0.5em;
        padding: 4.5em 0 0 0;
    }
    .inner {
       flex-basis: content;
    }
    .inner > img {
        max-width: 100%;
    }
    .desc {
        text-align: left;
    }
    div.inner p {
        display: none;
    }
    div.facts p {
        display: block;
    }
    .chapter {
        margin: 0 1em 1em 1em; 
        max-width: fit-content;
    } 
} 

/* .action {
    z-index: -1;
    scale: .9; opacity: 0;
    background-color: bisque;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 450px;
}

@keyframes fade-in {
    to {scale: 1; opacity: 1;}
} */